%btn {
  padding: 1.5rem 2rem;
  outline: none;
  border: none;
  background-color: #099268;
  color: inherit;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.8rem;
}
.new-expense {
  border-radius: 2rem;
  background-color: #0ca678;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  color: #fff;
  overflow: hidden;

  & > button {
    @extend %btn;
  }
}
.form {
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  opacity: 0;
  transition: height 0.8s, opacity 0.7s 0.1s;
  & > *:last-child {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
  }
  &__group {
    flex-basis: calc(50% - 2rem);
  }
  &__label {
    font-size: 2.4rem;
    display: block;
    margin-bottom: 0.5rem;
  }
  input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
  }
  button {
    @extend %btn;
  }
}
.over-play {
  &__bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
}
.modal {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;

  &__content {
    background-color: #0ca678;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba($color: #fff, $alpha: 0.6);
    min-width: 50vw;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: popUp 0.8s forwards;
    @keyframes popUp {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  &__header {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  &__message {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  button {
    @extend %btn;
  }
}
